@model cvProjesi.Models.Sablon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sablon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SablonAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SablonAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnizlemeResim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnizlemeResim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SablonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
